<h4>Internal-Server-Error - Refreshing the page will make the error disappear</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error : {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this then angular is not to be blamed</p>
    <p> What to do next ?</p>
    <ol>
        <li>Open the chrome Dev tool</li>
        <li>Inspect the netwrok tab</li>
        <p>Check the failing request</p>
        <li>Examine the request URL - make sure it is correct</li>
        <li>Reproduce the error in postman- if we see the same response, then the issue is not with angular</li>
    </ol>
    <p>Following is the stack trace - this is where your investigation should start!</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>